In [1]:
import pandas as pd
import time
import selenium
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException

In [333]:
chrome_path = r"C:\Users\Hp\Downloads\chromedriver_win32 (1)\chromedriver"
driver = webdriver.Chrome(chrome_path)
driver.implicitly_wait(1)

In [334]:
driver.get("https://www.cars24.com/")

In [335]:
driver.maximize_window()

In [336]:
location=driver.find_element_by_xpath("//div[@class='_1K8Qe']/button").click()

In [337]:
location_input=driver.find_element_by_xpath("//div[@class='_6QaMX']/input")
location_input.send_keys(input("Enter the location "))      
location_input.send_keys(Keys.ENTER)

Enter the location Ahmedabad

In [338]:
place=driver.find_element_by_xpath("//ul[@class='_16Bvy']/li[1]").click()

In [278]:
#Change_location=driver.find_element_by_xpath("//p[@class='_1OR7d']").click()

In [279]:
#location_input=driver.find_element_by_xpath("//div[@class='_6QaMX']/input")
#location_input.send_keys(input("Enter the new location "))      
#location_input.send_keys(Keys.ENTER)

Enter the new location Pune

In [280]:
#location_input_click=driver.find_element_by_xpath("//ul[@class='_16Bvy']/li").click()

In [339]:
used_car=driver.find_element_by_xpath("//ul[@class='float-right _1yq3e']/li[2]/a").click()

In [340]:
brand=[]
year=[]
km_driven=[]
fuel=[]
model=[]
price=[]


SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

Brand=driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[1]/div/h2")
for j in Brand:
    brand.append(j.text.split()[1])
    model.append(j.text.split()[2])
    year.append(j.text.split()[0])

KM_driven=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]")
for m in KM_driven:
    km_driven.append(m.text)

Fuel=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]")
for m in Fuel:
    fuel.append(m.text)

Price=driver.find_elements_by_xpath("//div[@class='_19zc5']/div[2]/span")
for q in Price:
    price.append(q.text)

In [200]:
car24_kolkata=pd.DataFrame({"Brand":brand,"Model":model,"Year":year,"Fuel":fuel,"KM driven":km_driven,"Price":price})

In [199]:
car24_kolkata.to_csv("car24_kolkata.csv")

In [206]:
car24_delhi=pd.DataFrame({"Brand":brand,"Model":model,"Year":year,"Fuel":fuel,"KM driven":km_driven,"Price":price})

In [207]:
car24_delhi.to_csv("car24_delhi.csv")

In [222]:
car24_noida=pd.DataFrame({"Brand":brand,"Model":model,"Year":year,"Fuel":fuel,"KM driven":km_driven,"Price":price})
car24_noida

        Brand   Model  Year    Fuel    KM driven      Price
0     Hyundai   VENUE  2021  Petrol     2,589 km  ₹8,07,999
1      Maruti   Swift  2013  Diesel    11,019 km  ₹3,78,499
2      Maruti    Alto  2013  Petrol     8,967 km  ₹2,41,499
3      Maruti    Alto  2014  Petrol    12,535 km  ₹3,00,099
4      Maruti   Swift  2012  Petrol    15,538 km  ₹4,53,499
...       ...     ...   ...     ...          ...        ...
1466     Fiat   Grand  2014  Diesel    70,303 km  ₹1,75,799
1467  Hyundai   Elite  2017  Petrol    50,141 km  ₹5,54,899
1468   Maruti   Swift  2012  Diesel  1,19,502 km  ₹3,24,899
1469   Maruti  Ertiga  2012  Diesel  1,20,093 km  ₹3,74,099
1470  Hyundai   Verna  2012  Diesel  1,34,510 km  ₹3,24,099

[1471 rows x 6 columns]

In [223]:
car24_noida.to_csv("car24_noida.csv")

In [274]:
car24_mumbai=pd.DataFrame({"Brand":brand,"Model":model,"Year":year,"Fuel":fuel,"KM driven":km_driven,"Price":price})

In [276]:
car24_mumbai.to_csv("car24_mumbai.csv")

In [292]:
car24_pune=pd.DataFrame({"Brand":brand,"Model":model,"Year":year,"Fuel":fuel,"KM driven":km_driven,"Price":price})

In [294]:
car24_pune.to_csv("car24_pune.csv")

In [303]:
car24_bengaluru=pd.DataFrame({"Brand":brand,"Model":model,"Year":year,"Fuel":fuel,"KM driven":km_driven,"Price":price})

In [305]:
car24_bengaluru.to_csv("car24_bengaluru.csv")

In [319]:
car24_hyderabad=pd.DataFrame({"Brand":brand,"Model":model,"Year":year,"Fuel":fuel,"KM driven":km_driven,"Price":price})

In [321]:
car24_hyderabad.to_csv("car24_hyderabad.csv")

In [330]:
car24_chennai=pd.DataFrame({"Brand":brand,"Model":model,"Year":year,"Fuel":fuel,"KM driven":km_driven,"Price":price})

In [332]:
car24_chennai.to_csv("car24_chennai.csv")

In [341]:
car24_ahmedabad=pd.DataFrame({"Brand":brand,"Model":model,"Year":year,"Fuel":fuel,"KM driven":km_driven,"Price":price})

In [343]:
car24_ahmedabad.to_csv("car24_ahmedabad.csv")

In [7]:
df1=pd.read_csv('car24_ahmedabad.csv')
df2=pd.read_csv('car24_chennai.csv')
df3=pd.read_csv('car24_hyderabad.csv')
df4=pd.read_csv('car24_bengaluru.csv')
df5=pd.read_csv('car24_pune.csv')
df6=pd.read_csv('car24_mumbai.csv')
df7=pd.read_csv('car24_noida.csv')
df8=pd.read_csv('car24_kolkata.csv')
df9=pd.read_csv('car_dekho_Ahmedabad.csv')
df10=pd.read_csv('car_dekho_delhi.csv')

In [18]:
frame=[df1,df2,df3,df4,df5,df6,df7,df8,df9,df10]
df=pd.concat(frame,ignore_index=True)

In [20]:
df=df.reset_index(drop=True)

In [21]:
df.to_csv("car_price.csv")